<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Here you can edit book</h1>
	<p>title, author, year, isbn, price</p>
	<form action="#" th:action="@{/editbook/}"  th:object= ${foundedbook} method="post">
	<p>title: <input type="text" th:field="${foundedbook.title}" /></p>
	<p>author: <input type="text" th:field="${foundedbook.author}" /></p>
	<p>year: <input type="text" th:field="${foundedbook.year}" /></p>
	<p>isbn: <input type="text" th:field="${foundedbook.isbn}" /></p>
	<p>price: <input type="text" th:field="${foundedbook.price}" /></p>
	<p>category: <input type="text" th:field="${foundedbook.category.name}" /></p>
	<input type="hidden" th:field="${foundedbook.id}" />
	
	<input type="submit" value="Submit" />
	</form>
    
</body>
</html>